<mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{ ('Model.title.')+actionString | translate }}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="p-24 pb-0 m-0">
    <form [formGroup]="modelForm">
        <field-form *ngIf="actionString !== 'detail'" [entity]="entity" [modelForm]="modelForm" [fieldSpecs]="fieldSpecs"></field-form>
    </form>
    <field-detail *ngIf="actionString === 'detail'" [serviceUrl]="serviceUrl" [rowFieldSpecs]="viewFieldSpecs.normalFields"
        [entity]="entity" [entityId]="entity.id"></field-detail>
</mat-dialog-content>

<mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <ng-container *ngIf="actionString === 'detail'">
        <button mat-button class="mr-8" (click)="matDialogRef.close()" aria-label="Close" matTooltip="Close">
            {{ 'Model.label.close' | translate}}
        </button>
        <button mat-button class="mr-8" *ngIf="modelSpec && modelSpec.deletable" (click)="matDialogRef.close(['delete', modelForm])" aria-label="Delete"
            matTooltip="Delete">
            {{ 'Model.label.delete' | translate}}
        </button>
    </ng-container>
    <ng-container *ngIf="actionString === 'edit'">
        <button mat-button class="save-button" (click)="matDialogRef.close(['save', modelForm, entity])" [disabled]="modelForm.invalid"
            aria-label="SAVE">
            {{ 'Model.label.save' | translate}}
        </button>
        <button mat-button class="mr-8" (click)="matDialogRef.close()" aria-label="Cancel" matTooltip="Cancel">
            {{ 'Model.label.cancel' | translate}}
        </button>
    </ng-container>
    <ng-container *ngIf="actionString === 'add'">
        <button mat-button class="save-button" (click)="matDialogRef.close(['add', modelForm, entity])" [disabled]="modelForm.invalid"
            aria-label="SAVE">
            {{ 'Model.label.add' | translate}}
        </button>
        <button mat-button class="mr-8" (click)="matDialogRef.close()" aria-label="Cancel" matTooltip="Cancel">
            {{ 'Model.label.cancel' | translate}}
        </button>
    </ng-container>
</mat-dialog-actions>
