@import "src/@fuse/scss/fuse";
.model-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 100%;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .model-form-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.mat-expansion-panel-content{
    border-top:1px solid #e4e4e4;
}
