<div id="user-password" fxLayout="column">

    <div id="user-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="user-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="title">{{'ResetPassword.title' | translate}}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{'ResetPassword.label.password1' | translate}}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{'ResetPassword.label.password1' | translate}} {{'Error.form.required' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'ResetPassword.label.password2' | translate}}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        {{'ResetPassword.label.password2' | translate}} {{'Error.form.required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{'Error.form.not.match' | translate}}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                    [disabled]="resetPasswordForm.invalid" (click)="onBtnClick()">
                    {{'ResetPassword.label.reset.password' | translate}}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" style="cursor: pointer;" (click)="onCancel()">{{'ResetPassword.label.cancel' | translate}}</a>
            </div>

        </div>

    </div>

</div>